/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

p {
  font-size: 12px;
  line-height: 17px;
}

/* Utils */

.btn {
  padding: 0.5rem 0.8rem;
  border: 1px solid transparent;
}

.btn.btn-blue {
  background-color: #0075d5;
}

.btn.btn-white {
  background-color: white;
  border: 1px solid currentColor;
  color: black;
}

/* Colori per i link */
.text-white {
  color: white;
}

.text-black {
  color: black;
}

/* 1REM = 16 PX */

.debug,
.debug * {
  min-height: 100px;
  padding: 5px;
  background-color: #ff000022;
  border: 1px dashed red;
}

.container-m {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;

  row-gap: 1rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

[class*="col"] {
  padding: 0 1rem;
}

.col {
  width: 100%;
}

.col-50 {
  width: 50%;
}

.col-33 {
  width: calc(100% / 3);
}

.col-30 {
  width: 30%;
}

.col-70 {
  width: 70%;
}

.col-60 {
  width: 60%;

  /* debug */
  /* background-color: pink;
  height: 120px; */
}

.col-40 {
  width: 40%;
  /* debug */
  /* background-color: aqua;
  height: 120px; */
}

[class*="fa"] {
  padding-right: 3px;
  font-size: 12px;
}

/* header */

.page-header {
  padding: 1rem 0.5rem;
  height: 55px;
  font-size: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;

  /* debug */
  /* background-color: pink; */
}

.page-header li {
  display: inline-block;
  margin-right: 13px;
}

.container-nav {
  align-items: center;
}

.logo {
  height: 16px;
}

/* top */

h1 {
  font-size: 80px;
  padding-top: 60px;
  padding-bottom: 60px;
  font-weight: 900;
}

.top {
  background-color: #afd0ed;
  height: 667px;
}

.container-m .col-30 > p {
  padding-bottom: 30px;
  line-height: 22px;
  font-size: 16px;
}

.container-m .col-30 > button {
  margin-bottom: 30px;
  font-size: 16px;
}

.fa-arrow-down {
  font-size: 50px;
  margin-top: 20px;
}

/* bottom */

.bottom {
  height: 140px;
  background-color: white;
  border-bottom: 1px solid rgb(239, 239, 239);
}

/* MAIN */

/*  sezione 3 colonne */

h2 {
  font-size: 39px;
  margin-top: 77px;
  margin-bottom: 70px;
}

h3 {
  font-size: 24px;
}

h5 {
  font-size: 14px;
}

input[type="radio"]:checked {
  accent-color: #0075d5;
}

form label {
  margin-right: 30px;
}

form {
  margin-bottom: 50px;
}

.header-fatturazione {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(239, 239, 239);
}

.content-fatturazione {
  border: 1px solid rgb(239, 239, 239);
  padding: 0 0.8rem;
}

.content-fatturazione h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content-fatturazione .tempo-pagamento {
  margin-top: 10px;
  color: rgb(147, 147, 147);
  margin-bottom: 40px;
}

.content-fatturazione > ul > li {
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 100;
}

.content-fatturazione button {
  margin-top: 20px;
  margin-bottom: 25px;
}

.content-fatturazione #link-acquista {
  text-decoration: underline;
}

.content-fatturazione .testo-acquista {
  margin-bottom: 20px;
}

hr {
  color: transparent;
  height: 0.5px;
  background-color: rgb(239, 239, 239);

  margin-bottom: 30px;
}

.titolo-punti-salienti {
  margin-bottom: 20px;
}

.altezza {
  height: 678px;
}

/* single card */

.descrizione-single-col-big {
  padding: 40px 0;
}

#header-single-col {
  margin-top: 2rem;
}

.content-single-col {
  border: 1px solid rgb(239, 239, 239);
  padding: 0 0.8rem;
}

.flex.flex-single-col {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.w-70 {
  width: 70%;
}

.w-30 {
  width: 30%;
}

/* DIVIDER */

.divider {
  height: 180px;
  background-color: transparent;
}

.container-no-space {
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 130px;
}

.container-no-space .col-60 {
  padding: 0;
}

.container-no-space .flex .col-40 {
  padding-top: 6rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.container-no-space .flex .col-40 h3 {
  padding-bottom: 2rem;
}

.container-no-space .flex .col-40 p {
  padding-bottom: 2rem;
}

/* SEZIONE ARTICOLI */

.container-img + h3 {
  padding-bottom: 1.6rem;
}

.container-img + h3 + p {
  padding-bottom: 2rem;
}
